{% block content %}

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>{% block title%} Reservations {% endblock %}</h1>

    <form method="post">
        <label for="fname">First name</label>
        <input type="text" id="fname" name="fname" value="Enter Text...">
        <br>
        
        <label for="lname">Last name</label>
        <input type="text" id="lname" name="lname" value="Enter Text...">
        <br>

        <label for="seatr">Seat row</label>
        <input type="number" id="seatr" name="seatr" value="Enter number from 1 to 12">
        <br>

        <label for="seatc">Seat column</label>
        <input type="number" id="seatc" name="seatc" value="Enter number from 1 to 4">
        <br>

        <br>
        <button type="submit">Submit</button>
    </form>
</body>
{% endblock %}